.background {
    position: fixed;
    background-image: url(../images/cloud.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-panel {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.home-panel h1 {
    font-size: 36pt;
}

.home-panel .subtitle {
    font-size: 18pt
}

.home-panel .ant-btn {
    font-size: 18pt;
    padding: 12px 28px;
    height: auto;
}