.background {
    position: fixed;
    background-image: url(../images/cloud.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-panel {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
