@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
  margin: 0;
  padding: 0;
  background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=fcfaf7ff&noise=e6ddd6&density=22&opacity=38');
}

h1 {
  font-family: 'Permanent Marker', cursive !important;
}

.story {
  padding: 12px;
  margin: 12px;
}

.story-panel {
  font-family: 'Permanent Marker', cursive !important;
}

.story-panel {
  margin: 12px;
  height: 300px;
  width: 100%;
}

/**
 * Comic book texture around the border from https://codepen.io/jjelizondo/pen/imDzk.
 */
.story-panel, .story-modal .ant-modal-content {
  border: 0.2em solid transparent;
  border-image: url('http://emptyeasel.com/wp-content/uploads/2012/11/creatingtexture2-carrielewis.jpg') 27 27 27 27 round stretch;
}

.story-panel .text {
  padding: 6px;
  font-size: 14px;
}

.story-panel .image {
  max-width: 100%;
}

.story-panel .add.icon {
  font-size: 120px;
}

.story-panel .add.text {
  font-size: 40px;
}

.story-panel-new:hover {
  background: lightblue;
  cursor: hand;
}

/**
 * Image in the background, text in the top left.
 */
.story-panel-0 {
}

.story-panel-0 .content {
  position: relative;
  height: 100%;
}

.story-panel-0 .content .image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1000;
}

.story-panel-0 .content .text {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  width: 50%;
}

/**
 * Image in the background, text in the bottom right.
 */
.story-panel-1 {
}

.story-panel-1 .content {
  position: relative;
  height: 100%;
}

.story-panel-1 .image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1000;
}

.story-panel-1 .text {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: inline-block;
  width: 50%;
}

/**
 * Image on the left, text on the right.
 */
.story-panel-2 {
}

.story-panel-2 .content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.story-panel-2 .image {
  flex-grow: 1;
}

.story-panel-2 .text {
  max-width: 30%;
  height: 100%;
  background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=ffffff00&noise=e3e1e0&density=36&opacity=57')
}

/**
 * Image on the right, text on the left.
 */
.story-panel-3 {
}

.story-panel-3 .content {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
}

.story-panel-3 .image {
  flex-grow: 1;
}

.story-panel-3 .text {
  max-width: 30%;
  height: 100%;
  background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=ffffff00&noise=e3e1e0&density=36&opacity=57')
}


/**
 * Modal dialog for appending to story.
 */

.story-modal .ant-modal-content {
  border-radius: 0;
  box-shadow: black 0 4px 8px;
}

.story-modal .btn-accept {
  background-color: green;
  border-color: #006700;
}

.story-modal .btn-accept:hover {
  background-color: #00d000;
  border-color: green;
}

.story-modal .btn-reject {
  background-color: orange;
  border-color: #d98c00;
}

.story-modal .btn-reject:hover {
  background-color: #ffc749;
  border-color: orange;
}

.story-modal .btn-accept, .story-modal .btn-reject {
  width: 64px;
  height: 64px;
  font-size: 22pt;
  border-width: 3px;
}

.story-modal .card__front .story-panel {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none; /* We have a border on our card element, so it isn't required here too */
}

.story-modal .ant-modal-body {
  padding: 0;
}

.story-modal .ant-modal-close {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background: white;
  border: solid 1px lightgrey;
  top: 12px;
  right: 12px;
}

.story-modal .ant-modal-close-x {
  display: inline;
  line-height: 0;
}