.card {
  /* background: red; */

  /* transition: 0.6s;
  transform-style: preserve-3d;

  position: relative; */

  perspective: 150em;
  height: 90vh;
}

.card__back {
  display: flex;
}

.card__data {
  flex: 1;
  padding: 1em;
}

.card__back,
.card__front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  transition: all 0.5s ease;
  height: 100%;
}

.card__front {
  /* transform: rotateY(0); */
  text-align: center;
}

.card__back {
  transform: rotateY(180deg);
}

.card__front img,
.card__back img {
  /* max-height: 40vh; */
  height: 80%;
}

.card__button--left {
  position: absolute !important;
  left: 40%;
  bottom: 20px;
  transform: translateX(-50%);
}

.card__button--right {
  position: absolute !important;
  left: 60%;
  bottom: 20px;
  transform: translateX(-50%);
}

/* ROTATE CSS */

.card.card--back .card__front {
  transform: rotateY(-180deg);
}

.card.card--back .card__back {
  transform: rotateY(0deg);
}

.share-button {
  position: fixed !important;
  bottom: 1em;
  right: 1em;
}
